body{
    margin:  0;
    background-color: #000025
}
.msgArea{
    background: color #005;
    color: white;
    margin: 0;

    width: 100%;
    
}
.fixed{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 80%;
    height: auto;
    display: flex;
    background-color: #00005F;
    border-radius: 10px;
}
#submitButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;    
    border: none;
    background-color: #f2f2f21e;
    display: flex;
    align-items: center;
    justify-content: center;



}
#chatWritting{
    color: #fff;
    align-items:center;
    margin: 10px;
    border: 0;
    background-color: transparent ;
    resize: none;
    width: 90%;
    border-radius:  10px;

}