#chat-window {
    flex-grow: 1;
    min-width: 600px;

    display: flex;
    flex-direction: column;
    padding: 0;
}

#chat-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--bg-secondary);
    padding: 1rem;
}

#chat-content {
    flex: 1;
    padding: 1rem 2rem;
}

#chat-messages {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.message {
    border-radius: var(--border-radius);
    padding: 0.2rem 0.5rem;
    max-width: 70%;
}
.message.sent {
    align-self: flex-end;
    background-color: var(--accent-primary);
    color: var(--text-primary);
}
.message.received {
    align-self: flex-start;
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
}
.message.sent + .message.received, .message.received + .message.sent {
    margin-top: 1rem;
}
.message .timestamp {
    font-size: 0.8rem;
    color: var(--text-secondary);
    float: right;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: baseline;
}

#chat-input-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    min-height: 2rem;
    margin: 0 1rem 1rem;
}

#message-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

#chat-input {
    flex: 1;
    padding: 0.2rem;
    resize: none;
    min-height: 2rem;   
    max-height: 8rem;
    line-height: 1.5;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: var(--border-radius);
    background: none;
    box-sizing: border-box;
    
    /* Modern browsers with field-sizing support */
    field-sizing: content;
}
#chat-input:focus {
    outline: none;
}