#contacts-window {
    flex: 0 0 33%;
    min-width: 350px;
    border-right: 1px solid var(--border);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#contacts-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

#search-container-container {
    padding: 0 0.5rem;
}

#search-container {
    width: 100%;
    height: 2rem;
}

#contacts-content {
    flex: 1;
    padding-left: 0.5rem;
}

#contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#contacts-list > li {
    margin-right: 0.5rem;
}
#contacts-list > div {
    margin-right: 0.5rem;
}
.contact {
    padding: 0.5rem;
    cursor: pointer;
    background-color: none;
    border-radius: var(--border-radius);
}
.foldered-contacts {
    list-style: none;
    padding-left: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contact-folder {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
.contact-folder * {
    margin: 0;
}